* {
    padding: 0;
    margin: 0;
}

:root {
    --nav-skew: 15deg;
    --nav-skew-neg: -15deg;
    --nav-translate: 0;
    --nav-translate-hover: 200px;
}

header {
    margin-top: 100px;
    /* background: rgba(255, 0, 0, .9); */
}

ul {
    width: 200px;
    list-style: none;
    position: relative;
}

ul::before {
    /* content: ''; */
    position: absolute;
    top: 0;
    left: -21px;
    transform: translateY(-100%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 150px 150px 150px;
    border-color: transparent transparent red red;
}

/* ul::after {} */

li {
    text-align: right;
    box-shadow: 0 0 5px #222;
    transform: skewX(15deg);
    background: red;
    transition: all .25s ease-in-out;
    margin-left: -100%;
}

li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 30px 20px;
}

li:nth-child(1) {
    transform: translateX(var(--nav-translate)) skewX(var(--nav-skew));
}

li:nth-child(2),
li:nth-child(3) {
    margin-right: -21px;
    transform: translateX(var(--nav-translate)) skewX(var(--nav-skew));
}

li:nth-child(3),
li:nth-child(4) {
    transform: translateX(var(--nav-translate)) skewX(var(--nav-skew-neg));
}

li:nth-child(1) a,
li:nth-child(2) a {
    transform: skewX(var(--nav-skew-neg));
}

li:nth-child(3) a,
li:nth-child(4) a {
    transform: skewX(var(--nav-skew));
}

li:hover {
    --nav-translate: var(--nav-translate-hover);
}

main {
    margin-top: 10px;
}

.test {
    width: 200px;
    margin-top: 200px;
    margin-left: 50px;
}

.item {
    transform-origin: top;
    transition: all 1s ease-out;
    background: red;
    padding: 30px;
    animation: example2 .25s ease-out;
     -webkit-transform: perspective(500) rotateX(-90deg);
     -webkit-transform-origin: 0% 0%;
     animation-fill-mode: forwards;
     border-bottom: 1px solid rgba(2, 2, 2, .1);
}

.item:nth-child(2) {
    animation-delay: .25s;
}

.item:nth-child(3) {
    animation-delay: .5s;
}

.item:nth-child(4) {
    animation-delay: .75s;
}

@keyframes example {
    from {
        -webkit-transform: perspective(500) rotateX(180deg);
        -webkit-transform-origin: 0% 0%;
    }
    to {
        -webkit-transform: perspective(500) rotateX(0deg);
        -webkit-transform-origin: 0% 0%;
    }
}

@keyframes example2 {
    from {
        -webkit-transform: perspective(500) rotateX(-90deg);
        -webkit-transform-origin: 0% 0%;
    }
    to {
        -webkit-transform: perspective(500) rotateX(0deg);
        -webkit-transform-origin: 0% 0%;
    }
}