nav {
    z-index: 4;
}

ul {
    width: 250px;
    list-style: none;
}

li {
    text-align: right;
    transform: skewX(15deg);
    background: var(--nav-color);
    transition: all .25s ease-in-out;
    margin-left: -100%;
    border-radius: var(--nav-item-bd);
    transform: translateX(var(--nav-translate)) skewX(var(--nav-skew-neg));
    margin-bottom: 2px;
}

li a {
    z-index: 2;
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 30px;
    padding-right: 40px;
    transform: skewX(var(--nav-skew));

    font-family: 'Karla';
    font-size: 16px;
    /* font-weight: bold; */
    text-transform: uppercase;
}

li:nth-child(1) {
    transform: translateX(var(--nav-translate)) skewX(var(--nav-skew-neg));
}

li:nth-child(2) {
    margin-right: 21px;
}

li:nth-child(3) {
    margin-right: 42px;
}

li:nth-child(4) {
    margin-right: 63px;
}

li:nth-child(5) {
    margin-right: 84px;
}

li:nth-child(6) {
    margin-right: 105px;
}

li:hover {
    --nav-translate: var(--nav-translate-hover);
}

.test {
    position: absolute;
    right: 0;
    top: 78px;
    width: 200px;
    margin-left: 50px;
    visibility: hidden;
    padding-top: 2px;
    z-index: 4;
}

.item {
    background: var(--nav-bd-color);
    padding: 25px;
    margin-bottom: 2px;
}

.item {
    -webkit-transform: perspective(500) rotateX(-90deg);
    -webkit-transform-origin: 0% 0%;
    transition-delay: 0s;
    transition: all .3s ease-out;
}

li:hover .test {
    visibility: visible;
}

li:hover .item {
    -webkit-transform: perspective(500) rotateX(0deg);
    -webkit-transform-origin: 0% 0%;
    transition: all .2s ease-out;
}
