$container-px-m: 1rem;
$container-py-m: 2rem;

$container-px-d: 5rem;
$container-py-d: 3rem;

.container {
    padding-left: $container-px-m;
    padding-right: $container-px-m;

    padding-top: $container-py-m;
    padding-bottom: $container-py-m;

    @include breakpoint-up(m) {
        padding-left: $container-px-d;
        padding-right: $container-px-d;

        padding-top: $container-py-d;
        padding-bottom: $container-py-d;
    }
}

@mixin container($px: $container-px-d, $py: $container-py-d) {
    padding-left: $px;
    padding-right: $px;

    padding-top: $py;
    padding-bottom: $py;
}

// Footer styles
.main-footer {
    display: flex;
    overflow: hidden;

    margin-top: 3rem;

    @include breakpoint-up(m) {
        margin-top: 7rem;
    }

    font-family: 'Lato', sans-serif;
    font-size: .75rem;
    font-weight: 600;
    color: get-color('primary');
}

.footer-start {
    display: flex;
    @include flex-center;
    padding-left: 1.25rem;

    text-align: right;
    color: get-color('primary');
}

.footer-shape {
    @include size(1.75rem);

    margin-right: 1.25rem;

    transform: skewX(-20deg);
    background: get-color('secondary-light');

    border-radius: 10px;
}

.footer-big-shape {
    @include size(2.25rem);
    background: var('gradient', 'primary-color');
}

.footer-other {
    flex-grow: 1;

    transform: skewX(-20deg);

    padding: 1rem;
    margin-right: -2rem;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    background: var('gradient', 'mixed');

    color: #fff;
}

.footer-content {
    transform: skewX(20deg);
    text-align: right;
    padding-right: 3rem;
}
