$container-px-m: 1rem;
$container-py-m: 2rem;

$container-px-d: 5rem;
$container-py-d: 3rem;

.container {
    padding-left: $container-px-m;
    padding-right: $container-px-m;

    padding-top: $container-py-m;
    padding-bottom: $container-py-m;

    @include breakpoint-up(m) {
        padding-left: $container-px-d;
        padding-right: $container-px-d;

        padding-top: $container-py-d;
        padding-bottom: $container-py-d;
    }
}

@mixin container($px: $container-px-d, $py: $container-py-d) {
    padding-left: $px;
    padding-right: $px;

    padding-top: $py;
    padding-bottom: $py;
}
