.resume {
    display: flex;
    @include flex-center;
    @include size(auto, var('icons', 'size'));
    padding: 0 .5rem;

    background: get-color('primary');

    font-size: .75rem;
    color: #fff;
    border-radius: 5px;
    text-align: center;
}
