.folio-section {
    position: relative;
    z-index: 1;
    margin-top: 2rem;
    overflow: hidden;

    @include breakpoint-up(m) {
        margin-top: 8rem;
    }

    color: get-color('primary');
}

.projects-heading {
    margin-bottom: .5rem;

    font-size: 2.5rem;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-align: center;
    // color: get-color('primary');

    @include breakpoint-up(m) {
        font-size: 3rem;
    }
}

.projects-subheading {
    width: 90%;

    margin: auto;
    margin-bottom: 3rem;

    font-family: 'Lato', sans-serif;
    text-align: center;
    // color: get-color('primary');

    @include breakpoint-up(m) {
        width: 100%;
    }
}

.projects-subheading a {
    font-weight: 900;
}

.home-goto-wrap {
    text-align: center;
    margin-top: 2rem;

    @include breakpoint-up(m) {
        margin-top: 0;
    }
}

.home-goto-projects {
    @include btn-bounce;
}

// Only for /folio page
.folio-page {

    .folio-section {
        margin-top: 0;
        color: #fff;
    }

    .section-head-folio {
        @include section-head-tilted(false);
        padding: 4rem 0 3rem;
        margin-bottom: 5rem;

        @include breakpoint-up(m) {
            padding: 7rem 0 4rem;
        }
    }
}
