.services-head {
    position: relative;
    color: #fff;
    background: linear-gradient(-110deg, rgb(0, 179, 202) 0%, rgb(0, 90, 102) 100%);

    padding: 3rem 1rem 5rem 1rem;

    @include breakpoint-up(m) {
        padding: 7rem 0;
    }
}

.services-head:before,
.services-head:after {
    content: '';
    background: #fff;
    position: absolute;
    display: block;
    width: 100%;
    height: 4rem;
    left: 0;
}

.services-head:before {
    top: 0;
    transform: translateY(-50%) skewY(-1deg);
}

.services-page {
    .services-head:before {
        display: none;
    }
}

.services-head:after {
    bottom: 0;
    transform: translateY(50%) skewY(-1deg);
}

.services-section h5 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #eee;
}

.services-heading {
    margin-bottom: .5rem;
    font-size: 3rem;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-align: center;
}

.services-separator {
    width: 100%;
    margin: auto;

    @include breakpoint-up(m) {
        padding: 1rem 0 0;
    }
}

.services-section .subhero {
    position: relative;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: rgb(0, 90, 102);
}

.services-section .subhero h2 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: rgb(133, 0, 115);
    font-size: 1.5rem;

    @include breakpoint-up(m) {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
}

.subhero p {
    width: 90%;
    margin: auto;

    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    /* color: rgb(133, 0, 115); */
    line-height: 1.2;
    font-size: 1rem;

    @include breakpoint-up(m) {
        width: 60%;
        font-size: 1.5rem;
    }
}

.subhero .what-can-i-do {
    margin-bottom: .5rem;

    @include breakpoint-up(m) {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }
}

.services-wrap {
    display: flex;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    position: relative;
    align-items: flex-start;

    @include breakpoint-up(m) {
        width: 80%;
        padding: 1rem;
    }
}

.services-welcome {
    display: block;
    position: relative;
    width: 100%;

    padding: 1rem;
    margin-bottom: 1rem;

    background: linear-gradient(110deg, rgb(0, 135, 153) 0%, rgb(218, 50, 139) 100%);
    border-radius: 10px;
    border: 3px solid rgb(218, 50, 139);

    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Lato', sans-serif;

    @include breakpoint-up(m) {
        font-size: 2.25rem;
    }
}

.services-welcome:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 110%);
    border-bottom: 1rem solid transparent;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: .5rem solid rgb(218, 50, 139);
    width: 1px;
    height: 1px;
}

.services-overview {
    width: 100%;

    font-family: 'Open sans', 'sans-serif';
    font-weight: 600;
    color: get-color('text');
    margin-top: 2rem;

    @include breakpoint-up(m) {
        width: auto;

        position: sticky;
        top: 5rem;
        flex: 1;

        padding-left: 2rem;
        margin-right: 2rem;

        font-size: 1.125rem;

        border-right: 1px dashed #f1f1f1;
    }
}

.services-overview li {
    width: 100%;
    list-style: none;
    margin: 0;

    height: 3rem;

    display: flex;
    align-items: center;

    @include breakpoint-up(m) {
        width: auto;
        height: 5rem;
        padding-left: 1.5rem;
    }
}

.services-overview li:hover {
    cursor: pointer;
    color: rgb(133, 0, 115);
}

.services-overview li svg {
    fill: none;
    stroke: rgb(133, 0, 115);
    stroke-width: 5;
    stroke-dasharray: 0 10;
    stroke-dashoffset: 1;
    width: .75rem;
    height: .75rem;
    transition: all .5s ease-in-out;
    transform: rotate(-90deg);
    margin-right: .5rem;
}

.services-overview li.active {
    color: get-color('secondary-dark');
}

.services-overview li.active svg {
    stroke-dasharray: 1 0;
}

.services-logo {
    display: block;
    @include svg-icon-outline(5rem, #fff);
    margin: auto;
}

.services-logo use {
    width: 100%;
    height: 100%;
}

.services-content {
    flex: 2;
    padding-top: 2rem;

    @include breakpoint-up(m) {
        display: block;
        padding-top: 3.5rem;
        padding-left: 2rem;
    }
}

.serives-section {
    font-family: 'Open sans', 'sans-serif';
    border-bottom: 1px dashed #f1f1f1;
    margin-bottom: 1rem;
    padding-bottom: 1rem;

    @include breakpoint-up(m) {
        margin-bottom: 3rem;
        padding-bottom: 2rem;
    }
}

.serives-section h3,
.serives-section h4 {
    margin-bottom: 1.5rem;
    font-family: 'Lato', sans-serif;
    text-align: left;
    color: #222;
    color: rgb(0, 90, 102);
}

.serives-section h3 {
    font-size: 1.5rem;
}

.services-item-heading {
    transition: all .5s ease-in-out;
    position: relative;
}

.services-item-heading svg {
    position: absolute;
    left: -1.5rem;
    top: 50%;

    fill: none;
    stroke: rgb(0, 90, 102);
    stroke-width: 5;
    stroke-dasharray: 0 10;
    stroke-dashoffset: 1;
    width: .75rem;
    height: .75rem;
    transition: all .5s ease-in-out;
    transform: translateY(-50%) rotate(-90deg);
    margin-right: .5rem;
}

.services-item-heading.active {
    text-decoration: underline;
}

.services-item-heading.active svg {
    stroke-dasharray: 1 0;
}

.serives-section h4 {
    margin-top: 1.75rem;
    font-size: 1.125rem;
}

.serives-section p {
    margin-bottom: 1rem;
}

/* cta */
.services-cta {
    color: #fff;
    background: linear-gradient(-110deg, rgb(0, 179, 202) 0%, rgb(0, 90, 102) 100%);
    position: relative;
    padding: 2.5rem 5% 2rem 5%;
    margin-top: 2rem;

    @include breakpoint-up(m) {
        padding: 5.5rem 0 5.5rem;
        margin-top: 0;
    }
}

.services-cta:before,
.services-cta:after {
    content: '';
    background: rgba(0, 135, 153, 1);
    background: #fff;
    position: absolute;
    display: block;
    width: 100%;
    height: 4rem;
    left: 0;
}

.services-cta:before {
    top: 0;
    transform: translateY(-50%) skewY(-1deg);
}

.services-cta:after {
    bottom: 0;
    transform: translateY(50%) skewY(-1deg);
}

.services-cta h3 {
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1.5rem;

    @include breakpoint-up(m) {
        padding-bottom: 3rem;
        font-size: 1.75rem;
    }
}

.services-timeline {
    font-family: 'Open sans', 'sans-serif';
    margin-bottom: 2rem;

    @include breakpoint-up(m) {
        display: flex;
        justify-content: center;
        margin-bottom: 0;
    }
}

.services-timeline li {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;

    list-style: none;

    @include breakpoint-up(m) {
        display: block;
        width: 10rem;
        margin-right: 3rem;
        margin-bottom: 0;
        text-align: center;

        &:last-child {
            margin-right: 0;
        }
    }
}

.services-cta-icon {
    border-radius: 10px;
    flex-shrink: 0;

    @include size(4rem);

    padding: .7rem;
    display: inline-block;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    background: rgb(0, 156, 177);

    margin-right: 1rem;

    @include breakpoint-up(m) {
        @include size(5.5rem);
        margin-right: 0;
        margin-bottom: 1.5rem;
    }
}

.services-cta-icon svg {
    width: 100%;
    height: 100%;
    fill: #fff;
    stroke: #fff;
}

.services-contact-cta {
    margin: 2rem 0;
}

.services-contact-btn {
    @include btn-bounce;
}
