.skills-section {
    position: relative;
    margin-top: 2rem;

    @include breakpoint-up(m) {
        margin-top: 8rem;
    }
}

.skills-icon {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 2rem;
    margin-bottom: .5rem;
}

.skills-section h2 {
    margin-bottom: .5rem;
    font-size: 2.5rem;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-align: center;
    color: get-color('primary');

    @include breakpoint-up(m) {
        font-size: 3rem;
    }
}

.skills-section h5 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    /* font-weight: 900; */
    margin-bottom: 2rem;
    color: get-color('primary');

    @include breakpoint-up(m) {
        margin-bottom: 5rem;
    }
}

.skills-content {
    position: relative;
    padding: 0 1rem;

    @include breakpoint-up(m) {
        padding: 0 7rem;
    }
}

.skills-content-bg {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    /* background: linear-gradient(90deg, transparent 0%, rgba(244, 165, 255, 0.07) 100%); */
    background: linear-gradient(90deg, rgba(0, 179, 202, .1) 0%, rgba(244, 165, 255, 0.1) 100%);
    z-index: -2;
}

.skills-content:before,
.skills-content:after {
    z-index: -1;
    content: '';
    position: absolute;
    left: 0;
    /* background: ; */
    width: 100%;
    height: 10rem;
}

.skills-content:before {
    top: 0;
    background: linear-gradient(#fff 0%, transparent 100%);
}

.skills-content:after {
    background: linear-gradient(transparent 0%, #fff 100%);
    bottom: 0;
}

.skills-backend {
    /* position: relative; */
}

.skills-component {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;

    @include breakpoint-up(m) {
        margin-bottom: 3.5rem;
    }
}

.skills-component > li {
    /* list-style: none; */
}

.skills-component-heading {
    width: 100%;
    margin-bottom: 1rem;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    color: get-color('secondary-dark');

    @include breakpoint-up(m) {
        font-size: 2rem;
        margin-bottom: 3rem;
    }
}

.skill-items-wrap {
    display: flex;
    flex-wrap: wrap;
    flex: 2;
    order: 2;
}

.skills-general {
    display: none;
    width: 100%;
    margin-bottom: 1.5rem;

    @include breakpoint-up(m) {
        display: block;
        margin-bottom: 3rem;
    }
}

.skills-general h3 {
    margin-bottom: .75rem;
    font-size: 1.25rem;
    font-family: 'Lato', sans-serif;

    @include breakpoint-up(m) {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

.skills-general p {
    font-family: 'Open sans', 'sans-serif';
    margin-bottom: 1rem;
}

.skills-item {
    width: 100%;

    padding: 1.5rem;
    font-family: 'Lato', sans-serif;
    background: #fff;
    margin-bottom: 1rem;
    border-radius: 10px;

    @include breakpoint-up(xs) {
        width: calc(50% - 1rem);
        padding: 2rem;
        padding-bottom: 2.5rem;
        margin-bottom: 2rem;
    }
}

@include breakpoint-up(xs) {
    .skills-item:nth-child(odd) {
        margin-left: 1rem;
    }

    .skills-item:nth-child(even) {
        margin-right: 1rem;
    }
}

.skills-item h3 {
    margin-bottom: 1rem;
}

.skills-item p {
    margin-bottom: 1rem;
}

.skills-item li {
    list-style: none;
    padding: .5rem 0;
}

.skills-graphic {
    @include size();

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    order: 1;

    @include breakpoint-up(m) {
        @include size(25rem);
        order: 2;
    }
}

.skills-backend .skills-graphic:before {
    content: '';
    position: absolute;
    top: 5%;
    left: 5%;
    width: 40%;
    padding-top: 40%;
    border-radius: 50%;
    z-index: -1;
    background: linear-gradient(-110deg, rgb(0, 179, 202) 0%, rgb(0, 90, 102) 100%);
    opacity: .7;
}

.skills-graphic img {
    display: block;
    width: 80%;
    margin: 1rem;

    @include breakpoint-up(xs) {
        margin: 0;
        width: 20rem;
    }

    @include breakpoint-up(m) {
        width: 100%;
    }
}

.skills-backend .skill-items-wrap {
    @include breakpoint-up(m) {
        margin-right: 3rem;
    }
}

.skills-frontend .skill-items-wrap {
    @include breakpoint-up(m) {
        margin-left: 3rem;
        order: 2;
    }
}

.skills-backend .skills-component-heading {
    /* text-align: right; */
}

.skills-other .skills-component-heading {
    text-align: center;
}

.skills-other {
    justify-content: space-between;
}

.skills-other .skills-item {
    margin-bottom: 1rem;

    @include breakpoint-up(xs) {
        width: calc(50% - 1rem);
    }

    @include breakpoint-up(m) {
        width: 24%;
        margin: 0;
    }
}

.skills-resume-btn {
    margin: auto;
    @include btn-bounce;
}
