.hero-screen-contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}

.hero-contact-col {
    flex: 1;
    padding: 3rem;
}

.hero-contact-heading {
    font-family: 'Lato', sans-serif;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.hero-contact-text {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 1rem;
    font-weight: 500;
}

.hero-contact-area {
    flex: 2;
    display: flex;
    align-items: center;
}

.hero-contact-form {
    width: 75%;
    background: rgba(255, 255, 255, .8);
    padding: 2rem 3rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}

.hero-contact-line {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: .75rem;

    .validation-error {
        margin-top: .25rem;
    }
}

.hero-contact-label {
    width: 100%;
    margin-bottom: .25rem;
    font-size: .9rem;
}

.hero-contact-item {
    flex-grow: 1;
    width: 100%;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    padding: .5rem;
}

.hero-send {
    width: 100%;
    padding: 1rem 2rem;
    margin: auto;

    border: none;

    color: #fff;
    text-transform: uppercase;

    font-weight: 600;

    border-radius: 5px;
    background: rgb(0, 135, 153);
    background: linear-gradient(110deg, rgb(0, 135, 153) 0%, rgb(218, 50, 139) 100%);
}

.contact-hint {
    font-weight: 500;
    font-size: .75rem;
    text-transform: none;
}
