html {
    font-family: 'Open Sans', 'sans-serif';
    color: get-color('text');
}

body {
    overflow-x: hidden;
}

a {
    color: get-color('secondary');
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-family: 'Lato', 'sans-serif';
}

.txt-align-center {
    text-align: center;
}

.heading {
    font-family: 'Lato', 'sans-serif';
    color: get-color('primary');
}

.validation-error {
    font-size: .75rem;
    font-weight: 600;
    color: get-color('danger');
}
